<a href="https://colab.research.google.com/github/NileshCT/assignment/blob/main/Assignment_Introduction_to_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <u>While doing this assignment only use those concepts which have been taught till now</u>

## <u>Problem 1</u>

A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [1]:
# A list containing average daily temperature over a week 
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# The expected output 
# output_temperatures = [34, 40, 42, 33, 29, 37, 39]

In [2]:
# Store the highest temperature
max_temp = max(temperatures)
print("the max temp. is from list is",max_temp)

# Index of the element with the highest temperature
max_temp_index =temperatures.index(max_temp)
print("the index position for max_ temp is :",max_temp_index)

the max temp. is from list is 42
the index position for max_ temp is : 4

In [3]:
# Store the lowest temperature 
min_temp = min(temperatures)
print("the min temp from list is as:",min_temp)

# Index of the element with the lowest temperature
min_temp_index =temperatures.index(min_temp)
print(min_temp_index)

the min temp from list is as: 29
2

In [4]:
# Swap the highest and the lowest temperatures
max_temp=42
min_temp=29
print(max_temp)
print(min_temp)
temperatures[max_temp_index]=min_temp   
temperatures[min_temp_index]=max_temp

42
29

In [5]:
# Print the output list
print(temperatures)

[34, 40, 42, 33, 29, 37, 39]


## <u>Problem 2 </u>

### Measures of Averages

* Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.
* Median is the middle number in a <b>sorted</b>, ascending or descending, list of numbers. If the list has $N$ numbers where $N$ is odd, then median is the element in the middle i.e, $(\frac{N+1}{2})^{th}$ element. If $N$ is even, then median is the mean of $(\frac{N}{2})^{th}$ and $(\frac{N}{2}+1)^{th}$ elements

In [6]:
# List of product prices

prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]

In [7]:
# Calculate the mean of the product prices. Use list functions. Also print the mean_price
a= sum(prod_price_list)
b=len(prod_price_list)
mean=a/b
print(mean)

1975.0

In [8]:
#print_mean price
print(mean)

1975.0

### Calculate the median price

In [9]:
# Step 1 - Obtain the sorted list. Print the sorted_prices
sorted_prices = prod_price_list.sort()
print(prod_price_list)

[250, 250, 360, 400, 550, 600, 720, 800, 820, 15000]

In [12]:
# Check if the number of elements in the list is even or odd
number_0f_ele=len(prod_price_list)
print(number_0f_ele)
#here out put is 10 hence we can say number of elements are even number
if len(prod_price_list)%2==0:
  print("even number")
else:
  print("odd number")

10
even number

In [15]:
# Use the corresponding formula to calculate the median and print the median
import statistics
sorted_prices=[250, 250, 360, 400, 550, 600, 720, 800, 820, 15000]
median_price = statistics.median(sorted_prices)
print(median_price)

575.0

In [19]:
# Check which is greater, mean or median
a=mean=1975
b=median_price=575
if a>b:
  print("mean is greater")
else:
  print("median is greater")

mean is greater

### Why do you think that is the case??

### <u>Write your explanation in this text cell</u>

Your explanation :

## <u> Problem 3 </u>

Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector. While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

In [20]:
# The list of tech companies curated by the individual
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

# The final list that we want
# correct_tech_companies = ['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']

In [21]:
# Write your code below
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]
l=[]
l.append("Qualcomm")
l.append("Google")
l.append("Apple")
l.append("Nvidia")
l.append("Cisco")
l.append("Samsung")
print(l)

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']

In [22]:
# Do the same task another way
l=[]
a=tech_companies[3][0]
b=tech_companies[3][1]
c=tech_companies[3][2]
e=tech_companies[0]
f=tech_companies[1]
g=tech_companies[2]
d=[a,b,c,e,f,g]
l.append(d)
print(l)

[['Nvidia', 'Cisco', 'Samsung', 'Qualcomm', 'Google', 'Apple']]